
/*/vc10/Debug
/*/vc10/ipch
/*/vc10/Release
/*/vc11/Debug
/*/vc11/ipch
/*/vc11/Release
/*/vc2012/Debug
/*/vc2012/ipch
/*/vc2012/Release
*.opensdf
*.sdf
*.suo
*.user
*.gitignore
*.mp3
*.flac
*.ogg
*.wav
