
/*/vc10/Debug
/*/vc10/ipch
/*/vc10/Release
/*/vc11/Debug
/*/vc11/ipch
/*/vc11/Release
/*/vc2012/Debug
/*/vc2012/ipch
/*/vc2012/Release
/*/vc2013/Debug
/*/vc2013/ipch
/*/vc2013/Release
/*/vc2015/Debug
/*/vc2015/Release
*.opensdf
*.sdf
*.opendb
*.VC.db
*.suo
*.user
*.gitignore
*.mp3
*.flac
*.ogg
*.wav
*.sdff
*.ilk
*.pdb
*.map
*.tlog
/*/xcode/build
*.plist
*.xcworkspace
*.xcscheme
*.xcbkptlist
/build.log
*.log
*.idb
*.iobj
*.ipdb
